<html>

<head>
  <title>Video Stream</title>
</head>

<body>
  <div align="center">
    <h2>Facial Landmarks Detection</h2>
    <!--Uses the apps 'cal' route found in app.py-->
    <img src="{{ url_for('calc') }}">
  </div>
</body>

</html>
